build --symlink_prefix=dist/

build --strategy=TypeScriptCompile=worker --remote_http_cache=http://remote:9001/cache
run --strategy=TypeScriptCompile=worker --remote_http_cache=http://remote:9001/cache
