#build --spawn_strategy=remote --genrule_strategy=remote --strategy=TypeScriptCompile=remote --strategy=Javac=remote --strategy=Closure=remote  --remote_executor=localhost:8980
#run --spawn_strategy=remote --genrule_strategy=remote --strategy=TypeScriptCompile=remote --strategy=Javac=remote --strategy=Closure=remote  --remote_executor=localhost:8980
